<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7ac8a8">  <td>23/09/18 23:11:48</td>   <td>0</td> <td title="&gt;&gt;BaseClass.Initialize_ExtentReport()[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_CreateUserAccount_001@6d0b5baf]">&gt;&gt;Initialize_ExtentReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@579447973</td>   <td></td> </tr>
<tr bgcolor="bb6aac">  <td>23/09/18 23:11:48</td>   <td>187</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_CreateUserAccount_001.open_Browser(org.testng.ITestContext)[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_CreateUserAccount_001@6d0b5baf]">&gt;&gt;open_Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@579447973</td>   <td></td> </tr>
</table>
