<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a18c68">  <td>23/09/18 23:16:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.CheckStatus(java.lang.reflect.Method,org.testng.ITestResult)[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_CreateUserAccount_001@186978a6]">&lt;&lt;CheckStatus</td> 
<td>&nbsp;</td>  <td>main@265577219</td>   <td></td> </tr>
<tr bgcolor="a18c68">  <td>23/09/18 23:16:16</td>   <td>286</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.teardown()[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_CreateUserAccount_001@186978a6]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@265577219</td>   <td></td> </tr>
<tr bgcolor="729e82">  <td>23/09/18 23:14:57</td>   <td>-78075</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_CreateUserAccount_001.open_Browser(org.testng.ITestContext)[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_CreateUserAccount_001@186978a6]">&gt;&gt;open_Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@265577219</td>   <td></td> </tr>
<tr bgcolor="729e82">  <td>23/09/18 23:15:17</td>   <td>-57808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_CreateUserAccount_001.CreateUser_Account()[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_CreateUserAccount_001@186978a6]">CreateUser_Account</td> 
  <td>main@265577219</td>   <td></td> </tr>
<tr bgcolor="a18c68">  <td>23/09/18 23:16:55</td>   <td>39452</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.teardown()[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_GuestBookingWthPromo_004@3c0fae6c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@265577219</td>   <td></td> </tr>
<tr bgcolor="a18c68">  <td>23/09/18 23:16:55</td>   <td>39452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.CheckStatus(java.lang.reflect.Method,org.testng.ITestResult)[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_GuestBookingWthPromo_004@3c0fae6c]">&lt;&lt;CheckStatus</td> 
<td>&nbsp;</td>  <td>main@265577219</td>   <td></td> </tr>
<tr bgcolor="7a97ba">  <td>23/09/18 23:16:25</td>   <td>9837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_GuestBookingWthPromo_004.GuestBookingwith_100Promo()[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_GuestBookingWthPromo_004@3c0fae6c]">GuestBookingwith_100Promo</td> 
  <td>main@265577219</td>   <td></td> </tr>
<tr bgcolor="7a97ba">  <td>23/09/18 23:16:16</td>   <td>480</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_GuestBookingWthPromo_004.Open_Browser(org.testng.ITestContext)[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_GuestBookingWthPromo_004@3c0fae6c]">&gt;&gt;Open_Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@265577219</td>   <td></td> </tr>
<tr bgcolor="a18c68">  <td>23/09/18 23:17:24</td>   <td>69019</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.teardown()[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_Login_002@fd0e5b6]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@265577219</td>   <td></td> </tr>
<tr bgcolor="b56a9e">  <td>23/09/18 23:17:04</td>   <td>49229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login_002.CreateUser_Account()[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_Login_002@fd0e5b6]">CreateUser_Account</td> 
  <td>main@265577219</td>   <td></td> </tr>
<tr bgcolor="b56a9e">  <td>23/09/18 23:16:55</td>   <td>39601</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_Login_002.open_Browser(org.testng.ITestContext)[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_Login_002@fd0e5b6]">&gt;&gt;open_Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@265577219</td>   <td></td> </tr>
<tr bgcolor="a18c68">  <td>23/09/18 23:17:24</td>   <td>69019</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.CheckStatus(java.lang.reflect.Method,org.testng.ITestResult)[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_Login_002@fd0e5b6]">&lt;&lt;CheckStatus</td> 
<td>&nbsp;</td>  <td>main@265577219</td>   <td></td> </tr>
<tr bgcolor="a18c68">  <td>23/09/18 23:18:39</td>   <td>144206</td> <td title="&lt;&lt;BaseClass.GenerateReport()[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_loginUser_mppg_Booking003@226642a5]">&lt;&lt;GenerateReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@265577219</td>   <td></td> </tr>
<tr bgcolor="a18c68">  <td>23/09/18 23:18:39</td>   <td>143674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.CheckStatus(java.lang.reflect.Method,org.testng.ITestResult)[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_loginUser_mppg_Booking003@226642a5]">&lt;&lt;CheckStatus</td> 
<td>&nbsp;</td>  <td>main@265577219</td>   <td></td> </tr>
<tr bgcolor="b895b1">  <td>23/09/18 23:17:29</td>   <td>73747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_loginUser_mppg_Booking003.Login()[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_loginUser_mppg_Booking003@226642a5]">&gt;&gt;Login</td> 
<td>&nbsp;</td>  <td>main@265577219</td>   <td></td> </tr>
<tr bgcolor="a18c68">  <td>23/09/18 23:18:39</td>   <td>144002</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.teardown()[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_loginUser_mppg_Booking003@226642a5]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@265577219</td>   <td></td> </tr>
<tr bgcolor="a18c68">  <td>23/09/18 23:14:57</td>   <td>-78235</td> <td title="&gt;&gt;BaseClass.Initialize_ExtentReport()[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_loginUser_mppg_Booking003@226642a5]">&gt;&gt;Initialize_ExtentReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@265577219</td>   <td></td> </tr>
<tr bgcolor="b895b1">  <td>23/09/18 23:17:59</td>   <td>103468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_loginUser_mppg_Booking003.Createbooking_mppg()[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_loginUser_mppg_Booking003@226642a5]">Createbooking_mppg</td> 
  <td>main@265577219</td>   <td></td> </tr>
<tr bgcolor="b895b1">  <td>23/09/18 23:17:24</td>   <td>69147</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_loginUser_mppg_Booking003.Open_Browser(org.testng.ITestContext)[pri:0, instance:com.Booking_Zone_PWA.testCases.TC_loginUser_mppg_Booking003@226642a5]">&gt;&gt;Open_Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@265577219</td>   <td></td> </tr>
</table>
